In [1]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("iris.csv")

In [ ]:
data.head()

In [ ]:
[1,'222']

In [ ]:
A[1:4, 5:7]

In [ ]:
type(data['sepal.length'])

In [ ]:
data.index

In [ ]:
data.iloc[0:4]

In [ ]:
data[['sepal.length', 'sepal.width']].iloc[0:4]['sepal.length'].iloc[0] = 100

In [ ]:
data.head()

In [ ]:
data['sepal.length'].iloc[0] = 100

In [ ]:
def f(x):
    print(x)
    print(type(x))
    return 2

In [ ]:
%%timeit
data['lambda'] = data['sepal.length'] * 2

In [ ]:
%%timeit
data['lambda'] = data[['sepal.length', 'sepal.width']].apply(lambda x: x['sepal.length'] * 2, axis=1)

In [ ]:
data['lambda2'] = data['sepal.length'].map(lambda x: x * 2)
data.head()

In [2]:
df = pd.DataFrame([
    {'id': 1, 'q': 5},
    {'id': 1, 'q': 4},
    {'id': 1, 'q': 8},
    {'id': 1, 'q': 10},
    {'id': 1, 'q': 1},
    {'id': 2, 'q': 5},
    {'id': 2, 'q': 7},
    {'id': 2, 'q': 9},
])

In [ ]:
df

In [ ]:
df.groupby('id').mean().reset_index()

In [ ]:
df.groupby('id').apply(lambda x: x[['q']].mean())

In [ ]:
pd.__version__

In [ ]:
sys.executable

In [ ]:
import sys
!{sys.executable} -m pip install -U pandas

In [5]:
df

   id   q
0   1   5
1   1   4
2   1   8
3   1  10
4   1   1
5   2   5
6   2   7
7   2   9

In [9]:
def mean_(x):
    return sum(x) / len(x)

In [10]:
df['mq'] = df.groupby('id')['q'].transform(mean_)

In [11]:
df

   id   q   mq
0   1   5  5.6
1   1   4  5.6
2   1   8  5.6
3   1  10  5.6
4   1   1  5.6
5   2   5  7.0
6   2   7  7.0
7   2   9  7.0

In [ ]:
df.transform()

In [19]:
a = 5
b = a

print("id a", id(a))
print("id b", id(b))
print("a", a)
print("b", b)

print("\n")

a = 5

print("id a", id(a))
print("id b", id(b))
print("a", a)
print("b", b)

id a 4374193424
id b 4374193424
a 5
b 5


id a 4374193424
id b 4374193488
a 5
b 7

In [13]:
a = 7

In [14]:
print(b)

5